@font-face {
    font-family: "Red Hat Text";
    src: url('fonts/RedHatText-Light.ttf') format('ttf');
}

@font-face {
    font-family: "Aleo";
    src: url('fonts/Aleo-Light.ttf') format('ttf');
}

@font-face {
    font-family: "Aleo Italic";
    src: url('fonts/Aleo-Italic.ttf') format('ttf');
}

@font-face {
    font-family: "Aleo Bold Italic";
    src: url('fonts/Aleo-BoldItalic.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    width: 1440px;
    margin: auto;
}

.head-pic img {
    position: absolute;
    display: flex;
    z-index: -1;
}

header {
    display: flex;
    background-color: rgba(242, 120, 92, 0.7);
    justify-content: space-around;
    align-items: center;
    height: 90px;
    color: #FFFFFF;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

.navigation>ul {
    display: flex;
}

.navigation>ul>li {
    list-style-type: none;
    margin: 0 14px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0 50px 110px;
    width: 892px;
    height: 422px;
    margin-bottom: 320px;
}

.preview p {
    font-family: "Aleo Bold Italic";
    font-size: 20px;
    color: #FFFFFF;
}

.preview .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: 95px;
    border-radius: 10px;
}

.preview .search p {
    font-family: "Aleo Italic";
    font-size: 24px;
    color: #F2785C;
}

h1 {
    font-family: "Aleo", "Lato", serif;
    font-size: 80px;
    color: #FFFFFF;
}

.steps {
    margin: auto;
    width: 1117px;
    height: 247px;
}

.steps .activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.steps .activities .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps .activities img {
    background-color: #F2785C;
    outline: 25px solid #F2785C;
    border-radius: 5px;
    margin-bottom: 50px;
}

.steps .activities p {
    font-family: "Aleo";
    font-size: 20px;
    color: #0D606F;
}

.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations .countries {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.stories .story {
    display: flex;
    justify-content: space-around;
    font-family: "Aleo";
    color: #0D606F;
}

.stories .story .info {
    width: 760px;
    padding-bottom: 24px;
}

.stories .story .info a {
    text-decoration: none;
    color: #0D606F;
}

.stories .story .info h3 {
    padding-bottom: 24px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Text", sans-serif;
    font-size: 40px;
    color: #F2785C;
    margin-bottom: 50px;
    margin-top: 80px;
}

button {
    background-color: #0D606F;
    font-size: 24px;
    height: 59px;
    border: none;
    color: #FFFFFF;
    outline: 0;
    border-radius: 10px;
    padding: 0 25px;
}

header button {
    font-size: 16px;
    height: 41px;
    padding: 10px 25px;
}

.destinations button {
    width: 200px;
}